body {
    padding: 0;
    margin: 0;
    }

#slideshow {
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 70%;
    border-radius: 8px;
    margin: 0 auto;
    }


.slide {
    position: absolute;
    width: 100%;
    }

.slide img{
    width: 100%;
    }


.slide-wrapper{
    width: calc(100% * 4);
    animation: slide 20s ease infinite;
    animation-delay: 5s;
    }

.slide:nth-child(1){margin-left: 0;}
.slide:nth-child(2){margin-left:100%;}
.slide:nth-child(3){margin-left:calc(100%*2);}
.slide:nth-child(4){margin-left:calc(100%*3);}



@keyframes slide{
    0% {margin-left: 0px;}
    6.25%,25% {margin-left: calc(-100% * 1);}
    31.25%,50% {margin-left: calc(-100% * 2);}
    56.25%,75% {margin-left: calc(-100% * 3);}
    81.255%,100%{margin-left: 0px;}
    }


@media screen and (max-width: 768px) {
    #slideshow {
        height: 180px;
        width: 100%;
        }
    }